.MainPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MainPage__boxTitle {
  width: 150px;
  padding: 5px 0;
  margin: 10px;
  text-align: center;
  border: 1px solid grey;
  cursor: pointer;
}
